[Unit]
Description=Geth

[Service]
Type=simple
User=ethnode
Restart=always
RestartSec=12
ExecStart=/usr/bin/geth --datadir.ancient=/data/geth_ancient --syncmode fast --rpc --rpccorsdomain "*" --ws --wsaddr="127.0.0.1" --wsorigins "*"

[Install]
WantedBy=default.target
